body{
background-color:white;
color: black;
line-height: 1.6;

}

 h1{
background-image: url(POULET.jpg);
background-size:cover ;
background-position: center;
background-repeat: no-repeat;
height: 150px;
 }
h1{
background-color: white;
color: white;
padding: 20px;
text-align: center;
margin: 0%;
font-family: Arial,  sans-serif;
}

img{
width: 30%%%;
height: auto;
display: block;
margin: 20px auto;
border-radius: 8px;
}
footer{
    background-color: rgb(244, 216, 182);
color: black;
text-align: center;
padding: 20px;

}
